html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}


body > * {
    /* centrando o <p> dos divs */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

/* div "menu" */
header {
    /* O menu está sticky e ocupa 10vh da altura do viewport */
    height: 10vh;
    background: rgb(48, 48, 48);
    background: linear-gradient(86deg, rgba(215, 214, 214, 1) 0%, rgba(48, 48, 48, 0.9387955865940126) 48%);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: flex-end;
}


nav a {
    display: block;
    padding: 0 1em;
    text-decoration: none;
    font-size: 2rem;
    color: white
}


main {
    /* como o menu ocupa 10vh, este tem 90vh para o vermo inteiro. */
    height: 60vh;
    background-color: rgb(48, 48, 48);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


main > p {
    font-size: 2.5rem;
    text-align: center;
    line-height: 50px;
    color: rgb(153, 153, 153);
    font-family: Impact, fantasy;
    text-shadow: 1px 1px #3d393a;
}

article.primeiro {
    /* definindo altura e cor */
    height: 45vh;
    padding: 0 4vw;
    background-color: rgb(34, 34, 34);
    background-image: url("../images/chessBig.png");
    background-size: contain;
    color: rgb(153, 153, 153);
    text-align: center;
    font-size: 2rem;
    justify-content: center;
}

article.segundo{
    height: 50vh;
    background-color: rgb(34, 34, 34);
    color: rgb(153, 153, 153);
    text-align: center;
    font-size: 2rem;
    padding: 1em 4vw;
}
article.terceiro{
    height: 50vh;
    background-color: rgb(34, 34, 34);
    color: rgb(153, 153, 153);
    text-align: center;
    font-size: 2rem;
    padding: 1em 4vw;
}
article.botao{
    height: 1vh;
    background-color: rgb(34, 34, 34);
    color: rgb(153, 153, 153);
    text-align: center;
    font-size: 2rem;
    padding: 1em 4vw;
}


footer {
    /* definindo altura e cor */
    height: 10vh;
    background: rgb(215, 214, 214);
    background: linear-gradient(270deg, rgba(215, 214, 214, 1) 0%, rgba(34, 34, 34, 1) 50%);
    color: white;
}

.logo {
    height: auto;
    width: 120px;
    position: relative;
    top: 4px;
    left: 4px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#down {
    background-image: url('../images/down-arrow.png');

}

.contacts {
    display: flex;
    max-width: 10%;
    height: auto;
}

.linkedin {
    justify-content: left;
}

.email {
    justify-content: left;
}

.returnButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:23px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.returnButton:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.returnButton:active {
	position:relative;
	top:1px;
}


